In [1]:
import pandas as pd

In [2]:
import sys
sys.path.append("../src/")

In [10]:
%load_ext autoreload
%autoreload 2

from features.build_features import add_profile_feature

In [4]:
df_train = pd.read_pickle('../data/processed/df_train_features.pickle')

In [5]:
df_test = pd.read_pickle('../data/processed/df_test_features.pickle')

In [19]:
df_profiles = pd.read_csv("../data/raw/data_set_phase1/profiles.csv")

In [22]:
df_profiles.head()

,pid,p0,p1,p2,p3,p4,p5,p6,p7,p8,...,p56,p57,p58,p59,p60,p61,p62,p63,p64,p65
0,196356,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,204083,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2,170667,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,115511,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,129719,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [28]:
import numpy as np

In [30]:
PID_specific_features = pd.read_csv("../data/raw/data_set_phase1/profiles.csv")
to_add                = pd.Series(list(np.repeat([0, 0], [1, 66])),
                                  list(PID_specific_features))
PID_specific_features = PID_specific_features.append(to_add, ignore_index = True)

In [32]:
PID_specific_features.tail()

,pid,p0,p1,p2,p3,p4,p5,p6,p7,p8,...,p56,p57,p58,p59,p60,p61,p62,p63,p64,p65
63086,129022,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
63087,103194,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
63088,124392,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
63089,120234,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
63090,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
df_train.loc[df_train.pid.isna(), "pid"] = 0

In [48]:
df_trained_merged = df_train.merge(PID_specific_features)

In [54]:
df_trained_merged.head()

,sid,click_time,click_mode,distance_plan,eta,price,transport_mode,plan_time,pid,req_time,...,p56,p57,p58,p59,p60,p61,p62,p63,p64,p65
0,2848914,2018-11-17 18:42:17,1,53156,6456,700.0,1,2018-11-17 12:56:15,101804.0,2018-11-17 12:56:15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,2848914,2018-11-17 18:42:17,1,48112,3535,700.0,3,2018-11-17 12:56:15,101804.0,2018-11-17 12:56:15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,2848914,2018-11-17 18:42:17,1,48112,3655,16500.0,4,2018-11-17 12:56:15,101804.0,2018-11-17 12:56:15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,2848914,2018-11-17 18:42:17,1,51641,8871,1200.0,1,2018-11-17 12:56:15,101804.0,2018-11-17 12:56:15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,2848913,2018-11-17 22:25:29,2,10634,2355,2000.0,10,2018-11-17 22:25:16,101804.0,2018-11-17 22:25:16,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [56]:
df_trained_merged.to_pickle("../data/processed/df_train_features.pickle")

In [57]:
df_test.loc[df_test.pid.isna(), "pid"] = 0

In [58]:
df_test_merged = df_test.merge(PID_specific_features)

In [59]:
df_test_merged.head()

,distance_plan,eta,price,transport_mode,sid,plan_time,pid,req_time,o_long,o_lat,...,p56,p57,p58,p59,p60,p61,p62,p63,p64,p65
0,465,418,700.0,5,1112456,2018-12-05 17:39:47,0.0,2018-12-05 17:39:47,116.45,39.92,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,465,140,700.0,6,1112456,2018-12-05 17:39:47,0.0,2018-12-05 17:39:47,116.45,39.92,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,462,178,700.0,3,1112456,2018-12-05 17:39:47,0.0,2018-12-05 17:39:47,116.45,39.92,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,13502,3195,400.0,2,1448779,2018-12-06 18:24:46,0.0,2018-12-06 18:24:46,116.38,39.99,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,13330,2679,400.0,9,1448779,2018-12-06 18:24:46,0.0,2018-12-06 18:24:46,116.38,39.99,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0